<form [formGroup]="labelForm" *ngIf="typeForm == 'Label'">
  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <textarea matInput formControlName="text"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Font size</mat-label>
    <input matInput formControlName="fontSize" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Font color</mat-label>
    <input matInput formControlName="fontColor" type="color" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Font family</mat-label>
    <mat-select formControlName="fontFamily">
      <mat-option *ngFor="let fontFamily of fontFamilys" [value]="fontFamily">{{
        fontFamily
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox style="font-weight: bold" formControlName="isBold"
    >Bold</mat-checkbox
  >
  <mat-checkbox style="font-style: italic" formControlName="isItalic"
    >Italic</mat-checkbox
  >
  <div class="example-button-row">
    <button (click)="onConfirmLabel()" mat-raised-button color="primary">
      OK
    </button>
    <button (click)="onCancelLabel()" mat-raised-button color="primary">
      Cancel
    </button>
  </div>
</form>
<form [formGroup]="roLeForm" *ngIf="typeForm == 'Role'">
  <mat-form-field appearance="fill">
    <mat-label>Tình trạng hiện tại</mat-label>
    <mat-select formControlName="TTHIENTAI">
      <mat-option value="Đóng">Đóng</mat-option>
      <mat-option value="Cắt">Cắt</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Màu đóng</mat-label>
    <input matInput formControlName="MAUDONG" type="color" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Màu cắt</mat-label>
    <input matInput formControlName="MAUCAT" type="color" />
  </mat-form-field>
  <div class="example-button-row">
    <button (click)="onConfirmRole()" mat-raised-button color="primary">
      OK
    </button>
    <button (click)="onCancelRole()" mat-raised-button color="primary">
      Cancel
    </button>
  </div>
  <div class="example-button-row" style="padding: 20px 0">
    <button (click)="onDetail()" mat-raised-button color="primary">
      Xem chi tiết
    </button>
  </div>
  <div
    class="d-none d-md-block align-items-center justify-content-center"
    style="width: 212px; height: 212px"
  >
    <img
      class="center img-fluid"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3_fKPr2ALbIKcIp53SNY9KHPH7d8ltJMRwQ&usqp=CAU"
    />
  </div>
</form>
