<div class="container_cus">
  <div class="header"><b>Danh sách đường dây</b></div>
  <div class="mainbody">
    <button mat-raised-button (click)="onClickAdd()" color="primary"><mat-icon>add</mat-icon>Thêm mới</button>

    <div id="list-dd" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="TENCONGTY">
          <th mat-header-cell *matHeaderCellDef>Tên công ty</th>
          <td mat-cell *matCellDef="let element" [title]="element.TENCONGTY" (click)="onClickDetail(element)">
            {{ element.TENCONGTY }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TRUYENTAIDIEN">
          <th mat-header-cell *matHeaderCellDef>Tên truyền tải điện</th>
          <td
            mat-cell
            *matCellDef="let element"
            [title]="element.TRUYENTAIDIEN" (click)="onClickDetail(element)"
          >
            {{ element.TRUYENTAIDIEN }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TENDUONGDAY">
          <th mat-header-cell *matHeaderCellDef>Tên đường dây</th>
          <td mat-cell *matCellDef="let element" [title]="element.TENDUONGDAY" (click)="onClickDetail(element)">
            {{ element.TENDUONGDAY }}
          </td>
        </ng-container>
        <ng-container matColumnDef="CAPDA">
          <th mat-header-cell *matHeaderCellDef>Cấp điện áp</th>
          <td mat-cell *matCellDef="let element" [title]="element.CAPDA" (click)="onClickDetail(element)">
            {{ element.CAPDA }}
          </td>
        </ng-container>
        <ng-container matColumnDef="DELETE">
          <th mat-header-cell *matHeaderCellDef>Xóa</th>
          <td mat-cell *matCellDef="let element" title="Xóa">
            <button
              mat-icon-button
              color="primary"
              (click)="openDialogDelete(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="rowDetail"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        (page)="changePagination($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
