<mat-card>
    <mat-card-header>
        <mat-card-title>Máy Biến Áp Details</mat-card-title>
        <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="mayBienApForm">
            <mat-form-field appearance="fill">
                <mat-label>Rotate</mat-label>
                <mat-select formControlName="rotate">
                    <mat-option value="0">0°</mat-option>
                    <mat-option value="90">90°</mat-option>
                    <mat-option value="180">180°</mat-option>
                    <mat-option value="270">270°</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <input formControlName="color" type="color" matInput>
            </mat-form-field> -->
            <div class="button">
                <button mat-raised-button color="primary" (click)="openAttributeForm()">Attribute</button>
                <!-- <button mat-raised-button>Close</button> -->
            </div>
        </form>
    </mat-card-content>
</mat-card>