<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" title="Home" (click)="openDashboard()">
        <mat-icon>home</mat-icon>
    </button>
    <!-- <span>My App</span> -->

    <button mat-button (click)="openDashboard()" title="Dashboard">Dashboard</button>

    <button mat-button [matMenuTriggerFor]="belowMenu" title="Danh mục">Danh mục</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="openMBA()" title="Máy biến áp">Máy biến áp</button>
        <button mat-menu-item (click)="openRL()" title="Rơ le">Rơ le</button>
        <button mat-menu-item (click)="openDD()" title="Đường dây">Đường dây</button>
        <button mat-menu-item (click)="openTC()" title="Thanh cái">Thanh cái</button>
    </mat-menu>

    <button mat-button (click)="openDiagram()" title="Diagram">Diagram</button>

    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>